<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head::head"></div>
<body>
<div class="header">
    <div th:replace="header::header"></div>
</div>

<div class="sectionB">

<div class="inProBd">

<div class="inProClaList">

    	<div class="ProClaT">产品<span>分类</span></div>

        <ul class="ProClaList">
           <li><a href="list5.html" tppabs="http://tyslate.com/list5.html" target="_blank">板岩青石板</a></li><li><a href="list6.html" tppabs="http://tyslate.com/list6.html" target="_blank">板岩锈石板</a></li><li><a href="list11.html" tppabs="http://tyslate.com/list11.html" target="_blank">板岩绿石板</a></li><li><a href="list12.html" tppabs="http://tyslate.com/list12.html" target="_blank">板岩蘑菇石</a></li><li><a href="list13.html" tppabs="http://tyslate.com/list13.html" target="_blank">板岩马赛克</a></li><li><a href="list14.html" tppabs="http://tyslate.com/list14.html" target="_blank">乱行板</a></li><li><a href="list15.html" tppabs="http://tyslate.com/list15.html" target="_blank">墙面砖</a></li><li><a href="list16.html" tppabs="http://tyslate.com/list16.html" target="_blank">台阶石</a></li>            <div class="more"><a href="list3.html" tppabs="http://tyslate.com/list3.html" target="_blank" title="查看更多">更多分类</a></div>
        </ul>

    </div><!-- end procla_list-->

    <div class="proListPic" >

    	<ul>

                <li>
<div class="pic"><img th:src="@{resized/201704191139309731506.jpg}" tppabs="http://tyslate.com/resized/201704191139309731506.jpg" rel="http://tyslate.com/resized/201704191139309731506.jpg" width="230" height="172" class="PicAuto"></div>
<div class="intro">
<span class="title"><a href="view5-30.html" tppabs="http://tyslate.com/view5-30.html" target="_blank">青石板天然文化石仿古青砖别墅花园庭院防腐防滑地砖室外广场石材铺路地砖</a></span>
<!-- <div  class="proUrlPic">
<p class="a"><a href="view5-30.html" target="_blank" title="青石板天然文化石仿古青砖别墅花园庭院防腐防滑地砖室外广场石材铺路地砖"><img src="images/index_13.png"></a></p>
<p class="b"><img src="images/index_15.png" class="zoom"></p>
</div> -->
</div>
</li><li>
<div class="pic"><img th:src="@{resized/201704191144323830358.jpg}" tppabs="http://tyslate.com/resized/201704191144323830358.jpg" rel="http://tyslate.com/resized/201704191144323830358.jpg" width="230" height="172" class="PicAuto"></div>
<div class="intro">
<span class="title"><a href="view6-31.html" tppabs="http://tyslate.com/view6-31.html" target="_blank">天然锈石板文化石别墅庭院广场防滑地砖金属锈色墙砖</a></span>
<!-- <div  class="proUrlPic">
<p class="a"><a href="view6-31.html" target="_blank" title="天然锈石板文化石别墅庭院广场防滑地砖金属锈色墙砖"><img src="images/index_13.png"></a></p>
<p class="b"><img src="images/index_15.png" class="zoom"></p>
</div> -->
</div>
</li><li>
<div class="pic"><img th:src="@{resized/201705021257525453544.jpg}" tppabs="http://tyslate.com/resized/201705021257525453544.jpg" rel="http://tyslate.com/resized/201705021257525453544.jpg" width="230" height="172" class="PicAuto"></div>
<div class="intro">
<span class="title"><a href="view13-18.html" tppabs="http://tyslate.com/view13-18.html" target="_blank">天然冰裂纹网贴马赛克网贴背景墙面砖室内外广场花园庭院别墅地砖墙面砖</a></span>
<!-- <div  class="proUrlPic">
<p class="a"><a href="view13-18.html" target="_blank" title="天然冰裂纹网贴马赛克网贴背景墙面砖室内外广场花园庭院别墅地砖墙面砖"><img src="images/index_13.png"></a></p>
<p class="b"><img src="images/index_15.png" class="zoom"></p>
</div> -->
</div>
</li><li>
<div class="pic"><img th:src="@{resized/201704191156324379838.jpg}" tppabs="http://tyslate.com/resized/201704191156324379838.jpg" rel="http://tyslate.com/resized/201704191156324379838.jpg" width="230" height="172" class="PicAuto"></div>
<div class="intro">
<span class="title"><a href="view5-32.html" tppabs="http://tyslate.com/view5-32.html" target="_blank">天然亚光精磨面青石板仿古文化石室内外青砖庭院花园抛光地砖石材</a></span>
<!-- <div  class="proUrlPic">
<p class="a"><a href="view5-32.html" target="_blank" title="天然亚光精磨面青石板仿古文化石室内外青砖庭院花园抛光地砖石材"><img src="images/index_13.png"></a></p>
<p class="b"><img src="images/index_15.png" class="zoom"></p>
</div> -->
</div>
</li>                <li class="proMenu"><a href="list3.html" tppabs="http://tyslate.com/list3.html" target="_blank" title="查看更多"><span class="font">产品中心</span><span class="english">products</span></a></li>
                <li>
<div class="pic"><img th:src="@{resized/201705021259026652055.jpg}" tppabs="http://tyslate.com/resized/201705021259026652055.jpg" rel="http://tyslate.com/resized/201705021259026652055.jpg" width="230" height="172" class="PicAuto"></div>
<div class="intro">
<span class="title"><a href="view12-16.html" tppabs="http://tyslate.com/view12-16.html" target="_blank">锈蘑菇石天然绣蘑菇石仿古石文化石庭院花园墙面砖室内外墙面砖阳台别墅墙面砖</a></span>
<!-- <div  class="proUrlPic">
<p class="a"><a href="view12-16.html" target="_blank" title="锈蘑菇石天然绣蘑菇石仿古石文化石庭院花园墙面砖室内外墙面砖阳台别墅墙面砖"><img src="images/index_13.png"></a></p>
<p class="b"><img src="images/index_15.png" class="zoom"></p>
</div> -->
</div>
</li><li>
<div class="pic"><img th:src="@{resized/201705021255528266999.jpg}" tppabs="http://tyslate.com/resized/201705021255528266999.jpg" rel="http://tyslate.com/resized/201705021255528266999.jpg" width="230" height="172" class="PicAuto"></div>
<div class="intro">
<span class="title"><a href="view15-25.html" tppabs="http://tyslate.com/view15-25.html" target="_blank">天然流水石水幕墙餐厅墙面砖办公室茶楼面砖背景墙流水石</a></span>
<!-- <div  class="proUrlPic">
<p class="a"><a href="view15-25.html" target="_blank" title="天然流水石水幕墙餐厅墙面砖办公室茶楼面砖背景墙流水石"><img src="images/index_13.png"></a></p>
<p class="b"><img src="images/index_15.png" class="zoom"></p>
</div> -->
</div>
</li><li>
<div class="pic"><img th:src="@{resized/201704191135213423552.jpg}" tppabs="http://tyslate.com/resized/201704191135213423552.jpg" rel="http://tyslate.com/resized/201704191135213423552.jpg" width="230" height="172" class="PicAuto"></div>
<div class="intro">
<span class="title"><a href="view12-29.html" tppabs="http://tyslate.com/view12-29.html" target="_blank">天然蘑菇石文化石锈色绿色石板别墅庭院背景墙青石板外墙砖内墙砖</a></span>
<!-- <div  class="proUrlPic">
<p class="a"><a href="view12-29.html" target="_blank" title="天然蘑菇石文化石锈色绿色石板别墅庭院背景墙青石板外墙砖内墙砖"><img src="images/index_13.png"></a></p>
<p class="b"><img src="images/index_15.png" class="zoom"></p>
</div> -->
</div>
</li><li>
<div class="pic"><img th:src="@{resized/201704191131429341075.jpg}" tppabs="http://tyslate.com/resized/201704191131429341075.jpg" rel="http://tyslate.com/resized/201704191131429341075.jpg" width="230" height="172" class="PicAuto"></div>
<div class="intro">
<span class="title"><a href="view11-28.html" tppabs="http://tyslate.com/view11-28.html" target="_blank">欧式天然绿色石板防滑防腐花园庭院别墅地砖地面墙面仿古文化石室内外地砖墙面砖</a></span>
<!-- <div  class="proUrlPic">
<p class="a"><a href="view11-28.html" target="_blank" title="欧式天然绿色石板防滑防腐花园庭院别墅地砖地面墙面仿古文化石室内外地砖墙面砖"><img src="images/index_13.png"></a></p>
<p class="b"><img src="images/index_15.png" class="zoom"></p>
</div> -->
</div>
</li>    	</ul>
</div><!-- end proListPic-->
</div><!-- end inProBd-->
</div>

<div class="section noneTopBorder">
 <div class="casePic clear-fix">
    	<ul>
    		<li class="caseMenu">
<a href="list7.html" tppabs="http://tyslate.com/list7.html" target="_blank" title="查看更多">
<span class="font">工程案例</span>
<span class="english">cases</span>
</a>
</li><li><a href="view9-17.html" tppabs="http://tyslate.com/view9-17.html" target="_blank" title="庐山市秀峰景区 ">
<img th:src="@{resized/201705021611573919320.jpg}" tppabs="http://tyslate.com/resized/201705021611573919320.jpg" alt="庐山市秀峰景区 " width="249" height="186" class="PicAuto">
<div class="con">
<p class="title">庐山市秀峰景区 </p>
<div class="conbody">
<p class="intro"></p>
</div>
</div>
</a>
</li><li><a href="view8-16.html" tppabs="http://tyslate.com/view8-16.html" target="_blank" title="工程案例 ">
<img th:src="@{resized/201705021612187545772.jpg}" tppabs="http://tyslate.com/resized/201705021612187545772.jpg" alt="工程案例 " width="249" height="186" class="PicAuto">
<div class="con">
<p class="title">工程案例 </p>
<div class="conbody">
<p class="intro"><p>工程案例详情工程案例详情工程案例详情工程案例详情工程案例详情工程案例详情</p></p>
</div>
</div>
</a>
</li><li><a href="view9-15.html" tppabs="http://tyslate.com/view9-15.html" target="_blank" title="工程案例 ">
<img th:src="@{resized/201705030911212318235.jpg}" tppabs="http://tyslate.com/resized/201705030911212318235.jpg" alt="工程案例 " width="249" height="186" class="PicAuto">
<div class="con">
<p class="title">工程案例 </p>
<div class="conbody">
<p class="intro"><p>青石板家装客户工程案例</p></p>
</div>
</div>
</a>
</li><li><a href="view9-14.html" tppabs="http://tyslate.com/view9-14.html" target="_blank" title="工程案例 ">
<img th:src="@{resized/201705030914494572592.jpg}" tppabs="http://tyslate.com/resized/201705030914494572592.jpg" alt="工程案例 " width="249" height="186" class="PicAuto">
<div class="con">
<p class="title">工程案例 </p>
<div class="conbody">
<p class="intro"><p>天然蘑菇石工程案例</p></p>
</div>
</div>
</a>
</li><li><a href="view9-13.html" tppabs="http://tyslate.com/view9-13.html" target="_blank" title="流水石工程案例 ">
<img th:src="@{resized/201705031357246751075.jpg}" tppabs="http://tyslate.com/resized/201705031357246751075.jpg" alt="流水石工程案例 " width="249" height="186" class="PicAuto">
<div class="con">
<p class="title">流水石工程案例 </p>
<div class="conbody">
<p class="intro"><p>工程案例详情工程案例详情工程案例详情工程案例详情工程案例详情工程案例详情</p></p>
</div>
</div>
</a>
</li><li><a href="view9-12.html" tppabs="http://tyslate.com/view9-12.html" target="_blank" title="工程案例 ">
<img th:src="@{resized/201705031408238750769.jpg}" tppabs="http://tyslate.com/resized/201705031408238750769.jpg" alt="工程案例 " width="249" height="186" class="PicAuto">
<div class="con">
<p class="title">工程案例 </p>
<div class="conbody">
<p class="intro"><p>工程案例详情工程案例详情工程案例详情工程案例详情工程案例详情工程案例详情</p></p>
</div>
</div>
</a>
</li>        	<li class="caseMore"><a href="list7.html" tppabs="http://tyslate.com/list7.html" target="_blank" title="查看更多">查看更多</a></li>

        </ul>
    </div><!-- end casePic-->

</div>

<div class="sectionB news">

<div class="Ttitle">

<div class="Font"> 新闻动态 </div>

<div class="English"> news </div>

    </div><!-- end Ttitle-->

<div class="newsList clear-fix"><dl class="newsListDl">
<a href="view1-1.html" tppabs="http://tyslate.com/view1-1.html" target="_blank" title="文化石施工流程">
<dt class="num">01</dt>
<dd>
<span class="title">文化石施工流程</span>
<span class="intro">文化石的施工跟普通的墙壁施工是有很大区别的。一、将墙面处理干...</span>
</dd>
</a>
</dl><dl class="newsListDl">
<a href="view1-2.html" tppabs="http://tyslate.com/view1-2.html" target="_blank" title="蘑菇石简介">
<dt class="num">02</dt>
<dd>
<span class="title">蘑菇石简介</span>
<span class="intro">开采于经过数亿年形成的石材矿床，质地坚硬，色彩鲜明。因其装饰...</span>
</dd>
</a>
</dl><dl class="newsListDl">
<a href="view1-3.html" tppabs="http://tyslate.com/view1-3.html" target="_blank" title="青石板材在施工时应该如何使用">
<dt class="num">03</dt>
<dd>
<span class="title">青石板材在施工时应该如何使用</span>
<span class="intro">和其他花岗岩等石材的施工方法类似，青石板铺路石的施工方法如下...</span>
</dd>
</a>
</dl><dl class="newsListDl">
<a href="view1-4.html" tppabs="http://tyslate.com/view1-4.html" target="_blank" title="如何辨别青石板材的优劣">
<dt class="num">04</dt>
<dd>
<span class="title">如何辨别青石板材的优劣</span>
<span class="intro">市场上有很多青石板材，我们选购时该怎么辨别其优劣呢？首先我们...</span>
</dd>
</a>
</dl><dl class="newsListDl">
<a href="view1-5.html" tppabs="http://tyslate.com/view1-5.html" target="_blank" title="青石板材的特点">
<dt class="num">05</dt>
<dd>
<span class="title">青石板材的特点</span>
<span class="intro">青石板由人工顺石材纹理劈开，表面自然凹凸具有防滑效果，颜色古...</span>
</dd>
</a>
</dl><dl class="newsListDl">
<a href="view1-6.html" tppabs="http://tyslate.com/view1-6.html" target="_blank" title="石材养护的日常程序">
<dt class="num">06</dt>
<dd>
<span class="title">石材养护的日常程序</span>
<span class="intro">石材经过长期使用后即使保养得当也会因为合理的磨损而失去原有的...</span>
</dd>
</a>
</dl>    </div><!-- end serList-->

    <div class="Tmore"><a href="list1.html" tppabs="http://tyslate.com/list1.html" target="_blank" title="查看更多">查看更多</a></div>
</div>

<div class="section">
<div class="company">
        <div class="Ttitle1">
<div class="Font"> 关于我们 </div>
<div class="English"> about  </div>
    </div><!-- end Ttitle-->
        <div class="companynr">
<span class="name">九江天韵石材有限公司 </span><p style="text-indent: 2em;">九江天韵石材有限公司是一家集生产、加工、销售为一体的石材厂家。公司主营：青石板、黄木纹、文化石、板岩、网帖、石材工艺品等石材产品。公司有着一班高素质的管理人才和一批优质的生产工人，可根据客户需求生产各种不同规格的石材，有一套先进的生产设 备，能够保质保量按时完成生产任务。企业宗旨：诚信做人，老实做事；物美价廉，长期共存。热诚欢迎广大新老顾客前来参观，考察洽谈，采购 。期待着我们能以优质的服务的质量得到您的认可,并携手......</p></div><!-- end companynr -->

        <div class="Tmore1"><a href="view2-1.html" tppabs="http://tyslate.com/view2-1.html" target="_blank" title="查看更多">查看更多</a></div>

    </div><!-- end company -->

</div>
<script src="../www.baidujx.com/libraries/hbHeadAd.js" tppabs="http://www.baidujx.com/libraries/hbHeadAd.js" type="text/javascript"></script>

<div th:replace="footer::footer"></div>
<div th:replace="main_im::im"></div>

</body>
</html>