<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="left">
        <div class="left">
            <div class="leftProClaList">
                <div class="ProClaT">产品<span>分类</span></div>
                <ul class="leftProClaList">
                    <li><a href="list5.html" tppabs="http://tyslate.com/list5.html" title="板岩青石板">板岩青石板</a></li>
                    <li><a href="list6.html" tppabs="http://tyslate.com/list6.html" title="板岩锈石板">板岩锈石板</a></li>
                    <li><a href="list11.html" tppabs="http://tyslate.com/list11.html" title="板岩绿石板">板岩绿石板</a></li>
                    <li><a href="list12.html" tppabs="http://tyslate.com/list12.html" title="板岩蘑菇石">板岩蘑菇石</a></li>
                    <li><a href="list13.html" tppabs="http://tyslate.com/list13.html" title="板岩马赛克">板岩马赛克</a></li>
                    <li><a href="list14.html" tppabs="http://tyslate.com/list14.html" title="乱行板">乱行板</a></li>
                    <li><a href="list15.html" tppabs="http://tyslate.com/list15.html" title="墙面砖">墙面砖</a></li>
                    <li><a href="list16.html" tppabs="http://tyslate.com/list16.html" title="台阶石">台阶石</a></li>
                </ul>
            </div><!-- end procla_list-->
            <div class="leftContact">
                <div class="leftTitle">联系<span>我们</span></div>
                <div class="contactnr">
                    <div class="contactTel">18017331699</div>
                    <p>联系人：龚经理</p>
                    <p>微　信：18017331699</p>
                    <p>电　话： 0792-2643134</p>
                    <p>邮　箱：sales@ingoco.com</p>
                    <p>地　址：九江市濂溪区浔南大道88号新湖庐山国际G4栋502</p>
                    <div class="clear"></div>
                </div><!-- end contactnr-->
            </div><!-- end leftContact-->
            <div class="leftNews">
                <div class="leftTitle">新闻<span>动态</span></div>
                <ul>
                    <li><a href="view1-6.html" tppabs="http://tyslate.com/view1-6.html">石材养护的日常程序</a></li>
                    <li><a href="view1-5.html" tppabs="http://tyslate.com/view1-5.html">青石板材的特点</a></li>
                    <li><a href="view1-4.html" tppabs="http://tyslate.com/view1-4.html">如何辨别青石板材的优劣</a></li>
                    <li><a href="view1-3.html" tppabs="http://tyslate.com/view1-3.html">青石板材在施工时应该如何使用</a></li>
                    <li><a href="view1-2.html" tppabs="http://tyslate.com/view1-2.html">蘑菇石简介</a></li>
                </ul>
            </div><!-- end leftNews-->
        </div>
    </div>
</body>
</html>