<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head::head"></div>
<body>
    <div th:replace="header::header"></div>
<div class="sectionB">
    <div class="main">
        <div th:replace="left::left"></div>
        <div class="mainCon">
            <div class="mainConTitle">
                <span class="mFont">工程案例</span>
                <span class="mEnglish"> case </span>
                <div class="position"><span>当前位置：</span><a href="index.htm" tppabs="http://tyslate.com/" title="首页">首页</a> > 工程案例</div>
            </div>
            <!-- end mainConTitle-->
            <div class="mainConList">
                <dl class="pic1">
                    <a href="view9-17.html" tppabs="http://tyslate.com/view9-17.html" title="庐山市秀峰景区">
                        <dt><img src="../www.tyslate.com/resized/201705021611573919320.jpg" tppabs="http://www.tyslate.com/resized/201705021611573919320.jpg" alt="庐山市秀峰景区" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">庐山市秀峰景区</dd>
                    </a>
                </dl><dl class="pic1">
                    <a href="view8-16.html" tppabs="http://tyslate.com/view8-16.html" title="工程案例">
                        <dt><img src="../www.tyslate.com/resized/201705021612187545772.jpg" tppabs="http://www.tyslate.com/resized/201705021612187545772.jpg" alt="工程案例" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">工程案例</dd>
                    </a>
                </dl><dl class="pic1">
                    <a href="view9-15.html" tppabs="http://tyslate.com/view9-15.html" title="工程案例">
                        <dt><img src="../www.tyslate.com/resized/201705030911212318235.jpg" tppabs="http://www.tyslate.com/resized/201705030911212318235.jpg" alt="工程案例" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">工程案例</dd>
                    </a>
                </dl><dl class="pic1">
                    <a href="view9-14.html" tppabs="http://tyslate.com/view9-14.html" title="工程案例">
                        <dt><img src="../www.tyslate.com/resized/201705030914494572592.jpg" tppabs="http://www.tyslate.com/resized/201705030914494572592.jpg" alt="工程案例" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">工程案例</dd>
                    </a>
                </dl><dl class="pic1">
                    <a href="view9-13.html" tppabs="http://tyslate.com/view9-13.html" title="流水石工程案例">
                        <dt><img src="../www.tyslate.com/resized/201705031357246751075.jpg" tppabs="http://www.tyslate.com/resized/201705031357246751075.jpg" alt="流水石工程案例" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">流水石工程案例</dd>
                    </a>
                </dl><dl class="pic1">
                    <a href="view9-12.html" tppabs="http://tyslate.com/view9-12.html" title="工程案例">
                        <dt><img src="../www.tyslate.com/resized/201705031408238750769.jpg" tppabs="http://www.tyslate.com/resized/201705031408238750769.jpg" alt="工程案例" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">工程案例</dd>
                    </a>
                </dl><dl class="pic1">
                    <a href="view8-11.html" tppabs="http://tyslate.com/view8-11.html" title="工程案例">
                        <dt><img src="../www.tyslate.com/resized/201705031409079387848.jpg" tppabs="http://www.tyslate.com/resized/201705031409079387848.jpg" alt="工程案例" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">工程案例</dd>
                    </a>
                </dl><dl class="pic1">
                    <a href="view8-10.html" tppabs="http://tyslate.com/view8-10.html" title="工程案例">
                        <dt><img src="../www.tyslate.com/resized/201705031409446423469.jpg" tppabs="http://www.tyslate.com/resized/201705031409446423469.jpg" alt="工程案例" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">工程案例</dd>
                    </a>
                </dl><dl class="pic1">
                    <a href="view8-9.html" tppabs="http://tyslate.com/view8-9.html" title="马赛克工程案例">
                        <dt><img src="../www.tyslate.com/resized/201705031410293360549.jpg" tppabs="http://www.tyslate.com/resized/201705031410293360549.jpg" alt="马赛克工程案例" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">马赛克工程案例</dd>
                    </a>
                </dl><dl class="pic1">
                    <a href="view8-9.html" tppabs="http://tyslate.com/view8-9.html" title="马赛克工程案例">
                        <dt><img src="../www.tyslate.com/resized/201705031410293360549.jpg" tppabs="http://www.tyslate.com/resized/201705031410293360549.jpg" alt="马赛克工程案例" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">马赛克工程案例</dd>
                    </a>
                </dl><dl class="pic1">
                    <a href="view8-8.html" tppabs="http://tyslate.com/view8-8.html" title="锈石条">
                        <dt><img src="../www.tyslate.com/resized/201705031411343121038.jpg" tppabs="http://www.tyslate.com/resized/201705031411343121038.jpg" alt="锈石条" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">锈石条</dd>
                    </a>
                </dl><dl class="pic1">
                    <a href="view9-7.html" tppabs="http://tyslate.com/view9-7.html" title="园林踏步石">
                        <dt><img src="../www.tyslate.com/resized/201705031413392435702.jpg" tppabs="http://www.tyslate.com/resized/201705031413392435702.jpg" alt="园林踏步石" width="230" height="172" class="PicAuto">
                            <div class="intro"></div>
                        </dt>
                        <dd class="title">园林踏步石</dd>
                    </a>
                </dl>                <div class="clear"></div>
            </div>
            <!-- end mainConList-->
            <!--分页样式-->
            <div class='pglist'>
                <ul>
                  <li class="home nohover"><a href="list7.html" tppabs="http://tyslate.com/list7.html" title="首页">首页</a></li>
                    <li class="last"><a href="list7-1.html" tppabs="http://tyslate.com/list7-1.html">上一页</a></li><li><a href="list7-1.html" tppabs="http://tyslate.com/list7-1.html">1</a></li><li class="next"><a href="list7-1.html" tppabs="http://tyslate.com/list7-1.html">下一页</a></li>                </ul>
            </div>
        </div>
        <!-- end main_con-->
        <div class="clear"></div>
    </div>
    <!-- end main-->
</div>
    <div th:replace="footer::footer"></div>
    <div th:replace="main_im::im"></div>

<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "../hm.baidu.com/hm.js-e9aa1dc0eeb047d3d995f80f9b65df8d"/*tpa=https://hm.baidu.com/hm.js?e9aa1dc0eeb047d3d995f80f9b65df8d*/;
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script></body>
</html>