<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head::head"></div>
<body>
    <div th:replace="header::header"></div>

<div class="sectionB">
    <div class="main">
        <div th:replace="left::left"></div>
<div class="mainCon">
            <div class="mainConTitle">
                <span class="mFont">联系我们</span>
                <span class="mEnglish"> contact us</span>
                <div class="position"><span>当前位置：</span><a href="index.htm" tppabs="http://tyslate.com/" title="首页">首页</a> > 联系我们</div>
            </div>
            <!-- end mainConTitle-->
            <div class="mainContect">
                <div class="con">
                    <p><span style="font-size: 20px;"><strong><spna th:text="${basicInfo.companyName}">九江英格石业有限公司</spna></strong></span></p>
                    <p><span style="font-size: 20px;">联系人：<span th:text="${basicInfo.companyOwner}">龚经理</span></span></p>
                    <p><span style="font-size: 20px;">手　机：<a href="tel:18017331699" target="_self" textvalue="18017331699" style="font-size: 20px; text-decoration: underline;"><span style="font-size: 20px;"><span th:text="${basicInfo.telephone}">18017331699</span></span></a></p>
                    <p><span style="font-size: 20px;">电　话：<a href="tel:07922643134" style="font-size: 20px; text-decoration: underline;"><span style="font-size: 20px;" th:text="${basicInfo.phone}">0792-2643134</span></a></span></p>
                    <p><span style="font-size: 20px;">邮　箱：<span th:text="${basicInfo.email}">sales@ingoco.com</span></span></p>
                    <p><span style="font-size: 20px;">地　址：<span th:text="${basicInfo.factoryAddress}">江西省九江市庐山市华林镇石材加工区</span></span></p>
                    <p><iframe class="ueditor_baidumap" src="http://www.eiewz.cn/cpanel/ueditor/dialogs/map/show.html#center=115.939315,29.348884&zoom=15&width=530&height=340&markers=115.939315,29.348884&markerStyles=l,A" tppabs="http://www.eiewz.cn/cpanel/ueditor/dialogs/map/show.html#center=115.939315,29.348884&zoom=15&width=530&height=340&markers=115.939315,29.348884&markerStyles=l,A" frameborder="0" width="534" height="344"></iframe></p>
                </div>
                <!-- end con-->
            </div>
            <!-- end mainContect-->
        </div>
        <!-- end main_con-->
        <div class="clear"></div>
    </div>
    <!-- end main-->
</div>
<!-- end sectionbg-->

    <div th:replace="footer::footer"></div>
    <div th:replace="main_im::im"></div>

<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "../hm.baidu.com/hm.js-e9aa1dc0eeb047d3d995f80f9b65df8d"/*tpa=https://hm.baidu.com/hm.js?e9aa1dc0eeb047d3d995f80f9b65df8d*/;
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script></body>
</html>