<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head::head"></div>
<body>
<div th:replace="header::header"></div>
<div class="sectionB">
    <div class="main">
        <div th:replace="left::left"></div>
        <div class="mainCon">
            <div class="mainConTitle">
                <span class="mFont">新闻中心</span>
                <span class="mEnglish"> news </span>
                <div class="position"><span>当前位置：</span><a href="index.htm" tppabs="http://tyslate.com/" title="首页">首页</a> > 新闻中心</div>
            </div>
            <!-- end mainConTitle-->
            <div class="mainContect">
                <div class="title">石材养护的日常程序</div>
                <div class="time clear-fix">
                    <div class="timea">添加时间：2017-04-13</div>
                    <div class="bdsharebuttonbox" style="display: inline;">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                </div>
                <div class="con">
                    <div class='pb'>
                        <div class='pagebox'>
                          <p style="text-indent: 2em;">石材经过长期使用后即使保养得当也会因为合理的磨损而失去原有的装饰效果；二次装修多数会除旧换新，但石材地板一般不需要也一并更换，只需要选择进行翻新处理，就会另石材地板得到全新般的效果，石材养护根据石材的磨损情况分为：石材轻度翻新、石材中度翻新和石材深度翻新。</p><p style="text-indent: 2em;">石材养护的日常程序：</p><p style="text-indent: 2em;">(1)割平、研磨：使用重型石材研磨机械配合水平割具片、翻新磨料或钻石碟片依照磨料及磨片的粗细目数从粗到细经道程序进行研磨，达到地面光滑平整、石材晶粒清晰为宜。</p><p style="text-indent: 2em;">(2)补洞、封缝：清除旧缝及裂洞中的杂物或旧的填充物，使用专用填缝工具将修补材料添入缝隙中，我们采用高端的填充物质，完成后同石材浑然一体。</p><p style="text-indent: 2em;">(3)抛光：研磨完毕后使用专用抛光设备及抛光材料对地板进行整体的抛磨，使石材更显光亮。</p><p style="text-indent: 2em;">(4)防护：是使用专业的石材防护剂对石材进行渗透式的保护，防止外界物质的渗透性侵害。根据不同的石材可以选择是否采取这道程序。</p><p style="text-indent: 2em;">(5)表面养护：以上程序进行完毕后石材已经达到使用的标准，但表面的抗磨损的强度却仍然不够，所以，此时就需要人为的制造一层坚硬的保护层。这时的石材正处于的状态，所以这道程序十分重要，可以为今后的养护打下好的底子。</p><p><br/></p>                        </div>
                    </div>
                </div>
                <!-- end con-->
                <div class="pgfy">
                    <div class="pgfyl">
                        <p class="last">上一篇：无</p>
                        <p class="next">下一篇：<a href="view1-5.html" tppabs="http://tyslate.com/view1-5.html" title="青石板材的特点">青石板材的特点</a>                    </div>
                    <div class="pgfyr"><a href="list1.html" tppabs="http://tyslate.com/list1.html" title="[返回列表]">[返回列表]</a></div>
                    <div class="clear"></div>
                </div>
                <!-- end pgfy-->
            </div>
            <!-- end mainContect-->
        </div>
        <!-- end main_con-->
        <div class="clear"></div>
    </div>
    <!-- end main-->
</div>
<!-- end sectionbg-->
<div th:replace="footer::footer"></div>
<div th:replace="main_im::im"></div>
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "../hm.baidu.com/hm.js-e9aa1dc0eeb047d3d995f80f9b65df8d"/*tpa=https://hm.baidu.com/hm.js?e9aa1dc0eeb047d3d995f80f9b65df8d*/;
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script></body>
</html>