<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head::head"></div>
<body>
<div th:replace="header::header"></div>
<div class="sectionB">
    <div class="main">
        <div th:replace="left::left"></div>
        <div class="mainCon">
            <div class="mainConTitle">
                <span class="mFont">新闻中心</span>
                <span class="mEnglish"> news </span>
                <div class="position"><span>当前位置：</span><a href="index.htm" tppabs="http://tyslate.com/" title="首页">首页</a> > 新闻中心</div>
            </div>
            <!-- end mainConTitle-->
            <div class="mainContect">
                <div class="title">如何辨别青石板材的优劣</div>
                <div class="time clear-fix">
                    <div class="timea">添加时间：2017-03-27</div>
                    <div class="bdsharebuttonbox" style="display: inline;">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                </div>
                <div class="con">
                    <div class='pb'>
                        <div class='pagebox'>
                          <p style="text-indent: 2em;">市场上有很多青石板材，我们选购时该怎么辨别其优劣呢？</p><p><br/></p><p style="text-indent: 2em;">首先我们通过观察石材表面来辨别，优质的石材表面,不含太多的杂色,布色均匀,没有忽淡忽浓的情况,而质次的石材经加工后会有很多无法弥盖的缺陷,所以说,石材表面的花纹色调是评价石材质量优劣的重要指标；如果加工不好的话，加工后的成品就会出现翘曲、凹陷、色斑、污点、缺棱掉角、裂纹、色线、坑窝等现象,这样的石材肯定不能算是好石材。优质的天然石材,应该是板材切割边整齐无缺角,面光洁、亮度高,用手摸没有粗糙感。</p><p style="text-indent: 2em;">选择好的石材很重要，养护石材也很重要，所以在石材使用中要做好清洁和养护工作。</p><p><br/></p>                        </div>
                    </div>
                </div>
                <!-- end con-->
                <div class="pgfy">
                    <div class="pgfyl">
                        <p class="last">上一篇：<a href="view1-5.html" tppabs="http://tyslate.com/view1-5.html" title="青石板材的特点">青石板材的特点</a></p>
                        <p class="next">下一篇：<a href="view1-3.html" tppabs="http://tyslate.com/view1-3.html" title="青石板材在施工时应该如何使用">青石板材在施工时应该如何使用</a></p>                    </div>
                    <div class="pgfyr"><a href="list1.html" tppabs="http://tyslate.com/list1.html" title="[返回列表]">[返回列表]</a></div>
                    <div class="clear"></div>
                </div>
                <!-- end pgfy-->
            </div>
            <!-- end mainContect-->
        </div>
        <!-- end main_con-->
        <div class="clear"></div>
    </div>
    <!-- end main-->
</div>
<!-- end sectionbg-->
<div th:replace="footer::footer"></div>
<div th:replace="main_im::im"></div>
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "../hm.baidu.com/hm.js-e9aa1dc0eeb047d3d995f80f9b65df8d"/*tpa=https://hm.baidu.com/hm.js?e9aa1dc0eeb047d3d995f80f9b65df8d*/;
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script></body>
</html>