<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head::head"></div>
<body>
<div th:replace="header::header"></div>
<div class="sectionB">
    <div class="main">
        <div th:replace="left::left"></div>
        <div class="mainCon">
            <div class="mainConTitle">
                <span class="mFont">新闻中心</span>
                <span class="mEnglish"> news </span>
                <div class="position"><span>当前位置：</span><a href="index.htm" tppabs="http://tyslate.com/" title="首页">首页</a> > 新闻中心</div>
            </div>
            <!-- end mainConTitle-->
            <div class="mainContect">
                <div class="title">青石板材在施工时应该如何使用</div>
                <div class="time clear-fix">
                    <div class="timea">添加时间：2017-03-27</div>
                    <div class="bdsharebuttonbox" style="display: inline;">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                </div>
                <div class="con">
                    <div class='pb'>
                        <div class='pagebox'>
                          <p style="text-indent: 2em;">和其他花岗岩等石材的施工方法类似，青石板铺路石的施工方法如下：</p><p style="text-indent: 2em;">一、夯实底部的土层，在夯实的过程中适当喷些水，反复夯实。</p><p style="text-indent: 2em;">二、筛选青石板，观察石材表面有无裂痕，如果在青石表面喷水后晾半干，还有细长水线没有干，那么这条水线一般就是裂痕，观察青石板有无大的缺编掉角，一般缺边尺寸小于5mm-10mm，而且比例不超过总数量的5%-10%可以视为合格，对于要求比较严格的工程，需要测量青石板的对角线，2条对角线的长度差别应小于1mm-2mm，以确定4个边的角度为90度直角。</p><p style="text-indent: 2em;">三、在夯实的土层上面浇筑水泥砂浆，砂子和水泥的比例是3:1，水泥砂浆的厚度一般要高于上面青石板的厚度。</p><p style="text-indent: 2em;">第四步，做好水平线，水平线的高度和青石板完工后的上表面的高度一致。</p><p style="text-indent: 2em;">第五步，把青石板按压在水泥砂浆上，铺好的石板应与水平线一致，然后抬起石板观察接触效果，如果接触面积低于90%，应该在水泥砂浆上铺洒干的素水泥浆，弄平整，再铺上石板，可以反复几次，直至石板和水泥砂浆充分接触，铺完后12小时后既可以承重。</p><p><br/></p>                        </div>
                    </div>
                </div>
                <!-- end con-->
                <div class="pgfy">
                    <div class="pgfyl">
                        <p class="last">上一篇：<a href="view1-4.html" tppabs="http://tyslate.com/view1-4.html" title="如何辨别青石板材的优劣">如何辨别青石板材的优劣</a></p>
                        <p class="next">下一篇：<a href="view1-2.html" tppabs="http://tyslate.com/view1-2.html" title="蘑菇石简介">蘑菇石简介</a></p>                    </div>
                    <div class="pgfyr"><a href="list1.html" tppabs="http://tyslate.com/list1.html" title="[返回列表]">[返回列表]</a></div>
                    <div class="clear"></div>
                </div>
                <!-- end pgfy-->
            </div>
            <!-- end mainContect-->
        </div>
        <!-- end main_con-->
        <div class="clear"></div>
    </div>
    <!-- end main-->
</div>
<!-- end sectionbg-->
<div th:replace="footer::footer"></div>
<div th:replace="main_im::im"></div>

<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "../hm.baidu.com/hm.js-e9aa1dc0eeb047d3d995f80f9b65df8d"/*tpa=https://hm.baidu.com/hm.js?e9aa1dc0eeb047d3d995f80f9b65df8d*/;
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script></body>
</html>