<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head::head"></div>
<body>
<div th:replace="header::header"></div>

<div class="sectionB">
    <div class="main">
        <div th:replace="left::left"></div>
        <div class="mainCon">
            <div class="mainConTitle">
                <span class="mFont">新闻中心</span>
                <span class="mEnglish"> news </span>
                <div class="position"><span>当前位置：</span><a href="index.htm" tppabs="http://tyslate.com/" title="首页">首页</a> > 新闻中心</div>
            </div>
            <!-- end mainConTitle-->
            <div class="mainContect">
                <div class="title">文化石施工流程</div>
                <div class="time clear-fix">
                    <div class="timea">添加时间：2017-03-27</div>
                    <div class="bdsharebuttonbox" style="display: inline;">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                </div>
                <div class="con">
                    <div class='pb'>
                        <div class='pagebox'>
                          <p style="text-indent: 2em;">文化石的施工跟普通的墙壁施工是有很大区别的。</p><p style="text-indent: 2em;">一、将墙面处理干净并做出粗糙的表面，如是塑料质木质等低吸水性光滑面，须铺铁丝网，并做出粗糙底面，充分保养后再铺贴。</p><p style="text-indent: 2em;">二、贴岩石之前务必先将岩石在平地上排列搭配出至佳效果后在按排列次序铺贴，相近尺寸、形状、颜色的岩石不要相邻。</p><p style="text-indent: 2em;">三、425号以上的白水泥，普通水泥(水泥：砂：801胶水的比例为1：2：0.05)，陶瓷粘接剂(请注意粘接剂使用说明)高性能专用粘接剂均可作为粘接剂。</p><p style="text-indent: 2em;">四、将岩石充分侵湿，在岩石底部中央涂抹粘接剂要堆起呈山形状(贴仿古砖时砖底部可涂布薄层粘接剂)如不慎大面积弄脏表面需及时用刷子清洗后使用。</p><p style="text-indent: 2em;">五、先贴转角。充分按压，使岩石周围可看见粘接剂挤出(部分产品不需转角)。</p><p style="text-indent: 2em;">六、如施工需要，可对岩石进行切割来调整。</p><p style="text-indent: 2em;">七、用塑料袋装填涂料来填缝隙，注意把握深浅，缝隙越深产品的立体效果越好。</p><p style="text-indent: 2em;">八、填缝剂初凝后，用竹片等将多余的填缝料除去，用沾水的毛刷修理缝隙表面，如不慎岩石表面粘有少量填缝剂或粘接剂，待其干燥后，用刷子除去。更好。部分产品不须留缝。</p><p style="text-indent: 2em;">九、岩石使用于室外时，铺贴好之后，待产品和填缝剂完全干燥后可喷涂防护剂进行防护处理(可防水、防冻、抗紫外线、防返碱等特点)。</p><p style="text-indent: 2em;">十、留缝的要求处理(1)乱形岩石——至小的缝围10mm左右，乱形尺寸的差异用填缝剂来调整。</p><p><br/></p>                        </div>
                    </div>
                </div>
                <!-- end con-->
                <div class="pgfy">
                    <div class="pgfyl">
                        <p class="last">上一篇：<a href="view1-2.html" tppabs="http://tyslate.com/view1-2.html" title="蘑菇石简介">蘑菇石简介</a></p>
                        <p class="next">下一篇：无                    </div>
                    <div class="pgfyr"><a href="list1.html" tppabs="http://tyslate.com/list1.html" title="[返回列表]">[返回列表]</a></div>
                    <div class="clear"></div>
                </div>
                <!-- end pgfy-->
            </div>
            <!-- end mainContect-->
        </div>
        <!-- end main_con-->
        <div class="clear"></div>
    </div>
    <!-- end main-->
</div>
<!-- end sectionbg-->
<div th:replace="footer::footer"></div>
<div th:replace="main_im::im"></div>

<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "../hm.baidu.com/hm.js-e9aa1dc0eeb047d3d995f80f9b65df8d"/*tpa=https://hm.baidu.com/hm.js?e9aa1dc0eeb047d3d995f80f9b65df8d*/;
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script></body>
</html>