<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head::head"></div>
<body>
<div th:replace="header::header"></div>
<div class="sectionB">
    <div class="main">
        <div th:replace="left::left"></div>
        <div class="mainCon">
            <div class="mainConTitle">
                <span class="mFont">新闻中心</span>
                <span class="mEnglish"> news </span>
                <div class="position"><span>当前位置：</span><a href="index.htm" tppabs="http://tyslate.com/" title="首页">首页</a> > 新闻中心</div>
            </div>
            <!-- end mainConTitle-->
            <div class="mainContect">
                <div class="title">蘑菇石简介</div>
                <div class="time clear-fix">
                    <div class="timea">添加时间：2017-03-27</div>
                    <div class="bdsharebuttonbox" style="display: inline;">
                        <a href="#" class="bds_more" data-cmd="more"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    </div>
                </div>
                <div class="con">
                    <div class='pb'>
                        <div class='pagebox'>
                          <p style="text-indent: 2em;">开采于经过数亿年形成的石材矿床，质地坚硬，色彩鲜明。因其装饰效果典雅、古朴，对环境无污染，对人体无辐射，被广泛发育在水平节理和裂隙上的孤立突起的岩石。因其受风蚀作用后形成基部小，上部大的蘑菇形状，故称风蚀蘑菇。特别是水平成层，软硬相间的岩石更易发育成风蚀蘑菇。其形成原因：主要是距一定高度的气流含沙量少，磨蚀作用弱，而近地面处的气流含沙量多，磨蚀作用强，因此下部就被磨蚀的越来越细小，从而形成蘑菇石。如果风蚀蘑菇顶部岩石的重心和基部岩石的不一致，上部岩石易坠落下来，其坠落下来的大石块如在地面上不稳定，当刮大风时，随风摇摆，称风动石或摇摆石。</p><p style="text-indent: 2em;">用于宾馆、酒店、别墅、园林等各类建筑墙面、地面的装饰装修。</p><p style="text-indent: 2em;">是种经过风沙作用的岩石在干旱地区的许多地形的形成如蘑菇石的形成与流水的侵蚀过程相类似大家都感受过风沙天气,特别是北方地区,这种现象更普遍。在干旱地区的许多地形的形成如蘑菇石的形成与流水的侵蚀过程相类似大家都感受过风沙天气,特别是北方地区,这种现象更普遍.在干燥地区,由于近地面的风含沙粒较多,磨蚀力较强,使岩石形成顶部大,底部小的蘑菇状外形,称为&quot;风蚀蘑菇&quot;.而含有大量沙粒的气流,当风速减少时沙粒沉积形成沙丘.沙丘可埋没村舍,道路,牧场,带来流沙危害。简练的说就是孤立突起的岩石经风蚀作用而成的蘑菇状岩体，又称石蘑菇、风蘑菇。</p><p><br/></p>                        </div>
                    </div>
                </div>
                <!-- end con-->
                <div class="pgfy">
                    <div class="pgfyl">
                        <p class="last">上一篇：<a href="view1-3.html" tppabs="http://tyslate.com/view1-3.html" title="青石板材在施工时应该如何使用">青石板材在施工时应该如何使用</a></p>
                        <p class="next">下一篇：<a href="view1-1.html" tppabs="http://tyslate.com/view1-1.html" title="文化石施工流程">文化石施工流程</a></p>                    </div>
                    <div class="pgfyr"><a href="list1.html" tppabs="http://tyslate.com/list1.html" title="[返回列表]">[返回列表]</a></div>
                    <div class="clear"></div>
                </div>
                <!-- end pgfy-->
            </div>
            <!-- end mainContect-->
        </div>
        <!-- end main_con-->
        <div class="clear"></div>
    </div>
    <!-- end main-->
</div>
<!-- end sectionbg-->
<div th:replace="footer::footer"></div>
<div th:replace="main_im::im"></div>

<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "../hm.baidu.com/hm.js-e9aa1dc0eeb047d3d995f80f9b65df8d"/*tpa=https://hm.baidu.com/hm.js?e9aa1dc0eeb047d3d995f80f9b65df8d*/;
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script></body>
</html>