<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="head::head"></div>
<body>
<div class="header">
    <div th:replace="header::header"></div>
</div>

<div class="sectionB">
    <div class="main">
        <div th:replace="left::left"></div>
        <div class="mainCon">
            <div class="mainConTitle">
                <span class="mFont">公司简介</span>
                <span class="mEnglish"> about us </span>
                <div class="position"><span>当前位置：</span><a href="index.htm" tppabs="http://tyslate.com/" title="首页">首页</a> > 公司简介</div>
            </div>
            <!-- end mainConTitle-->
            <div class="mainContect">
                <div class="con">
                    <p style="text-indent: 2em;">九江英格石业有限公司坐落在美丽的庐山脚下，是一家集生产、加工、销售为一体的石材企业。公司从九十年代开始做板岩生产，从纯人工开采到现在全机械化开采加工，专注做板岩石材三十年。工厂有一套先进的生产设备，可私人订制各种规格石材，能够保质保量按时完成生产任务，为广大客户提供一站式石材用料解决方案。</p>
                    <p style="text-indent: 2em;">公司于2017年由原个体加工厂变更为九江英格石业有限公司公司，为公司下一个十年发展划定蓝图。同时，我们也意识到石材行业给环保带来的一系列负面影响，从开采加工等各方面降低环境破坏采取了一系列措施，并积极推动公司转型做精加工及工艺品，肩负起石材企业应承担的责任，还家乡一片青山绿水。</p>
                    <p style="text-indent: 2em;">公司主营天然石材：青石板、文化石、板岩、芝麻白花岗石、网帖、流水石，冰裂纹，马赛克，乱板及石材工艺品等石材产品。颜色主要包括锈板，黑板（青石板），绿板，灰板，芝麻白。我司拥有丰富的工程和出口经验，公司建材系列的瓦板，地板，蘑菇石，组合板，马塞克等天然文化石广受房产商的欢迎。餐盘与工艺品系列产品远销世界各地。</p>
                    <p style="text-indent: 2em;">公司秉着“诚信为本，顾客至上”的原则，坚持不懈的为客户提供优质的产品，优质的服务。公司成立至今，产品广受好评，供销国内各地大小工地，出口多个国家和地区。期待各界朋友莅临指导、参观和业务洽谈，广交朋友，携手共进，共创辉煌！</p>
                    <p style="text-indent: 2em;">电话/微信：18017331699</p>
                </div>
                <!-- end con-->
            </div>
            <!-- end mainContect-->
        </div>
        <!-- end main_con-->
        <div class="clear"></div>
    </div>
    <!-- end main-->
</div>
<!-- end sectionbg-->

<div th:replace="footer::footer"></div>

<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "../hm.baidu.com/hm.js-e9aa1dc0eeb047d3d995f80f9b65df8d"/*tpa=https://hm.baidu.com/hm.js?e9aa1dc0eeb047d3d995f80f9b65df8d*/;
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script></body>
</html>